extends partials/templates/layout.pug

block config
  - var title = 'Goomer Styleguide';
  
block body
  main.main
    h1 Goomer Styleguide
    .goomerzito-container
      img.goomerzito(src="img/goomerzito.jpg")
